__Conversa Copilot- Migrando AWS para Azure.pdf
deploy/Conversa Copilot- Migrando AWS para Azure.pdf
deploy/help_deploy_na_AWS.txt
deploy/help_deploy_no_Azure.txt
deploy/help_deploy_na_AWS.txt
deploy/help_deploy_na_AWS.txt
deploy/Previsao_Auxilio_Emergencial.bat
